{% extends 'bootstrap/base.html' %}

{% block title %}JiuChain {% endblock %}
{% block metas %}
{{ super() }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
{% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/ionicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='dist/css/skins/skin-blue.min.css') }}">
{% endblock %}
{% block body_attribs %} class="hold-transition register-page" {% endblock %}
{% block body %}
{% block register %}
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Jiu</b> | Chain</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form action="/auth/register" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group has-feedback">
      {{ form.username(class="form-control") }}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
      {{ form.email(class="form-control") }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
      {{ form.password(class="form-control") }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
      {{ form.password2(class="form-control") }}
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          {{ form.submit(class="btn btn-primary btn-block btn-flat") }}
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="/auth/login" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- jQuery 2.2.0 -->
<script src="/static/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
{% endblock %}
{% endblock %}

